@charset "UTF-8";

body{
    margin: 0;
    background-color: rgb(247, 247, 247);
}

.noto-serif-sc { font-family: 'Noto Serif SC', serif; }
.noto-serif-jp { font-family: 'Noto Serif JP', serif; }


/* -------------------
 * Page Header
 * ------------------- */
.header.mdl-layout__header{
    background-color: #ffbf1f;
}

.header > .mdl-layout__header-row{
    padding-left: 32px;
}

.site-title.mdl-layout-title {
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 28px;
    letter-spacing: 8px;
    /* font-weight: 200; */
}

.navigation-link.mdl-navigation__link{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.navigation-link.mdl-navigation__link:hover {
    background-color: #ffd877ad;
}

/* iPhone X Size */
@media screen and (max-width: 440px)
{
    .site-title.mdl-layout-title {
        font-size: 22px;
        margin-right: 30px;
    }
    .navigation-link.mdl-navigation__link{
        font-size: 16px;
        padding: auto 5px;
    }
}
/* -------------------
 * Page Contents
 * ------------------- */

.page-content{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}


/* -------------------
 * Featured section
 * ------------------- */



.wrapper{
    padding: 0;
    margin: 0 auto;
    max-width: 1024px;
}

/* iPad Size */
@media screen and (min-width: 768px)
{
}

@media screen and (max-width: 414px)
{
    .profile-card.mdl-card{
        height: 22vh;
        min-height: 100px;
    }
}

/* -------------------
 * Profile section
 * ------------------- */
.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.profile-section-title
{
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
    color: #ff006f;
    margin-bottom: 8px;
}

.profile-cards{
    display: flex;
    flex-direction: row;
    
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 3px 0;
}



.profile-card.mdl-card{
    margin: 3px;
    max-width: 23%;
    min-width: 130px;
    /* min-height: 100px; */
    height: 300px;
}

.profile-card > .mdl-card__title{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    transition: all 0.3s;
    height: 100%;
}

.profile-text-wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 100%;
    /* align-items: center; */
    /* height: 100%; */
    margin: auto 0 0;
}

.profile-icon{
    display: inline-block;
    margin: 20px auto;
}

.profile-icon img{
    border-radius: 45px;
    height: 90px;
    width: 90px;
}

.profile-name
{
    display: block;
    margin: auto 0 12px;
    border-width: 0;
    border-style: solid;
    /* padding: 5px 10px 5px 15px; */
    text-align: center;
    font-size: 24px;
    color: rgb(90, 90, 90);
    /* height: 48px; */
    width: 100%;
}



.sns-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    margin: 10px auto 10px;
    /* text-align: right; */
    /* align-content: space-between; */
}

.sns-icons a{
    color: #fff;
    background: #ff006f;
    text-align:center;
    /* line-height: 18px; */
    text-decoration:none;
    font-size: 18px;
    position: relative;
    display: inline-block;
    width: 36px;
    margin: 2px;
    height: 27px;
    padding-top: 9px;
    border-width: 0px;
    border-style: solid;
    border-radius: 20px;
    transition: all 0.5s;
}

.sns-icons a:hover{
    background: rgba(255, 93, 164, 0.77);
}

/* iPad Size */
@media screen and (max-width: 768px)
{
    .profile-cards{
        padding: 3px;
        display: flex;
        flex-direction: column;
    }

    .profile-card.mdl-card{
        margin: 1.5px 0;
        max-width: unset;
        min-width: 130px;
        min-height: 100px;
        width: 100%;
        height: 150px;
    }

    .profile-card > .mdl-card__title{
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .profile-icon{
        display: inline-block;
        margin: auto 2%;
    }

    .profile-name
    {
        display: inline;
        margin: 10px auto 10px 25px;
        text-align: left;
        font-size: 28px;
        /* height: 60px; */
        width: 80%;
        padding: auto 0;
    }

    .sns-icons{
        padding-left: 5%;
        justify-content: flex-end;
        /* margin: 20px auto 5px; */
        width: 90%;
        /* height: 100%; */
        padding-right: 5%;
    }
}

/* iPhone X Size */
@media screen and (max-width: 440px)
{
    .profile-name
    {
        font-size: 22px;
        margin: auto;
    }
}